@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-overpass: "Overpass", sans-serif;

  --color-primary: hsl(25, 97%, 53%);
  --color-grey-500: hsl(217, 12%, 63%);
  --color-grey-900: hsl(213, 19%, 18%);
  --color-grey-950: hsl(216, 12%, 8%);
  --color-white: hsl(0, 100%, 100%);

  --text-paragraph: 15px;
}
